
@import url('./radar.css');

.overlay {
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rbga(0,0,0,0);
  z-index: 5;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.board-h {
  display: flex;
  flex-direction: row;
  height: fit-content;
  max-width: 75%;
  margin-left: 12.5%;
  margin-top: 12.5%;
  margin-right: 12.5%;
  z-index: 0;
}
.bookmark {
  background: #111;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  padding: 4px 4px;
  flex: 1;
  pointer-events: none;
}

.bookmark:nth-child(1) {
  z-index: 3;
}
.bookmark:nth-child(2) {
  z-index: 2;
  margin-left: -10%;
}
.bookmark:nth-child(3) {
  z-index: 1;
  margin-left: -10%;
}
.bookmark:nth-child(4) {
  z-index: 0;
  margin-left: -10%;
}
.bookmark:hover {
  z-index: 5 !important;
}

.bm-label {
  color: white;
  background: #333;
  text-align: center;
  padding: 2px;
  pointer-events: auto;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.bookmark:first-child {
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.bookmark:first-child > .bm-label {
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.board-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100%;
}

.secret {
  position: absolute;
  width: 7.25%;
  left: 5.25%;
  height: max-content;
  background: #111;
  color: white;
  padding: 4px 4px;
  pointer-events: none;
}

.secret p {
  margin: 0px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #333;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  pointer-events: auto;
}

.board-body {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 90%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding: 4px 4px;
  background: #111;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 2000px;
  overflow: visible;
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

.paper-page {
  width: 100%;
  height: 100%;
  flex-direction: row;
  position: absolute;
  transition: transform 0.5s ease-in;
  transform: translateX(0), rotateY(0deg);
  transform-origin: left center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  opacity: 1;
  display: flex;
  z-index: 0;
}

.board-body > .paper-page {
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

.board-body > .paper-page .paper {
  /*background-color: antiquewhite;*/
}

#page1 {
  z-index: 4;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}
#page2 {
  z-index: 3;
  transition: transform 0.4s ease-in, opacity 0.5s ease-in;
}
#page3 {
  z-index: 2;
  transition: transform 0.3s ease-in, opacity 0.5s ease-in;
}
#page4 {
  z-index: 1;
}

.flip {
  transform: rotateY(-135deg);
  opacity: 1;
}

.paper {
  position: relative;
  /*background: repeating-linear-gradient(
    to right,
    white,
    white 3%,
    lightblue 3%,
    lightblue 3.1%
  );*/
  
  background-color: white;
  background-size: 10% 5%;
  background-image: 
    linear-gradient(to left, #ccc 1px, transparent 1px),
    linear-gradient(to bottom, #ccc 1px, transparent 1px);
  
  width: 100%;
  height: 100%;
  z-index: 0;
  /*box-shadow: 
    -2px 0px 4px rgba(50, 50, 50, 1),
    inset -1px 0px 4px rgba(150, 150, 150, 1);*/
}

.paper:before {
  content: "";
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  
}

.square-clip {
  position: relative;
  background: transparent;
  width: 10px;
  height: 100%;
  z-index: 1;
}

.square-clip::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: calc(100%);
  background-image:
    repeating-linear-gradient(
      to bottom,
      white 0 10px,
      transparent 10px 20px
    );
  z-index: -1;
}

.redline {
  position: absolute;
  content: "";
  left: 10%;
  width: 2px;
  height: 100%;
  background-color: red;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  color: white;
  padding: 8px 8px;
  background: #333;
  border: 1px solid #fff;
}

.paper-content {
  position: absolute;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.paperclip {
  position: absolute;
  border: 2px solid #666;
  width: 32px;
  height: 8px;
  border-radius: 2px;
  transform: rotate(45deg);
  top: 2px;
  left: -12px;
  z-index: 1;
  border-image: linear-gradient(45deg, #333 10%, silver 90%) 1;
}
.paperclip::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 0;
  border-left: 2px solid #666;
  border-top: 2px solid #666;
  width: 16px;
  height: 4px;
  border-radius: 2px
  z-index: 6;
  border-image: linear-gradient(45deg, #333, silver) 1;
}

#ruler {
  position: absolute;
  top: 12.5%;
  right: -30%;
  transform: rotate(45deg);
}

.cover {
  background: url("/brand.jpg");
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 8px;
  width: 85%;
  box-shadow: 10px 5px 5px #444;
  height: 100px;
  position: relative;
  border: 2px solid #666;
}

#cover-img {
  position: absolute;
  bottom: 0;
  object-fit: cover;
  max-height: 100px;
  margin-left: 10%;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.7));
}

.content-hd {
  font-size: 1.5em;
  font-weight: bold;
  color: #111;
  text-align: center;
  z-index: 1;
}

.stats-container {
  position: relative;
  width: 100%;
  height: 300%;
  margin-top: 10%;
  top: 0;
  left: 0;
}

.stats-container #octagon-chart {
  width: 80%;
  height: 80%;
  position: relative;
  left: 10%;
  top: 50%;
}

.stats1 {
  position: relative;
  top: 0;
  left: 25%;
  font-size: 0.8em;
}
.stats2 {
  position: absolute;
  top: 0;
  left: 65%;
  font-size: 0.8em;
}
.stats3 {
  position: absolute;
  top: 25%;
  left: 0%;
  font-size: 0.8em;
}
.stats4 {
  position: absolute;
  top: 25%;
  left: 90%;
  font-size: 0.8em;
}
.stats5 {
  position: absolute;
  top: 65%;
  left: 0%;
  font-size: 0.8em;
}
.stats6 {
  position: absolute;
  top: 65%;
  left: 90%;
  font-size: 0.8em;
}
.stats7 {
  position: absolute;
  top: 100%;
  left: 25%;
  font-size: 0.8em;
}
.stats8 {
  position: absolute;
  top: 100%;
  left: 65%;
  font-size: 0.8em;
}

.overlay > svg {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 5;
  transform: rotate(135deg);
  transform-origin: center;
  width: 200px;
}

.text {
  padding: 8px 8px 8px 0px;
  width: 100%;
  color: #333;
  border-bottom: 2px solid #333;
}