
.gm-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv7K23sLPJoz9JKyRgiKWUjg_lu4-mqJWxK0BIIO9iMUw0CMgjFUmZC5vi&s=10');
  background-size: cover;
  background-position: center;
}

.gm-container .schedule-banner-con {
  /*background: linear-gradient(to right, #666, #111 25%);*/
  border-top: 8px groove gray;
  border-bottom: 8px groove gray;
  padding: 2px 2px !important;
  background-image: url('/bg.jpg');
  background-position: center;
}

.gm-container .schedule-program {
  top: -8px;
  right: 4px;
}

.gm-container p {
  margin: 0;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.gm-menu {
  width: 50%;
  height: fit-content;
  border: 4px solid #ccc;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 20px;
  background: linear-gradient(to right, #666, #333 25%);
  background: rgba(11,11,11, 0.5);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.gm-menui {
  width: 100%;
  height: 1em;
  border-top: 2px solid #444;
  border-bottom: 4px solid #666;
  background: #222;
  color: white;
  position: relative;
}

.gm-menui:hover {
  background: royalblue;
}

.gm-menui p {
  position: absolute;
  bottom: 0;
  right: 8px;
  margin: 0;
  font-size: 1.25em;
}

.tp-dfwv {
  z-index: 9999 !important;
  position: relative;
}

.office-img {
  position: absolute;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.laptop {
  top: 53%;
  left: 58%;
}
.calendar-img {
  top: 50%;
  left: 30%;
}
.magazine {
  top: 36%;
  left: 15%;
}

.gm-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1));
}

.pulse {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  filter: blur(1px) drop-shadow(0 0 4px rgba(255, 255, 255, 1));
  transform: scale(1);
}

.pulse-anim {
  animation: pulse-anim 0.8s linear infinite;
}
@keyframes pulse-anim {
  0% { transform: scale(1); }
  100% { transform: scale(10); }
}