
.prepare-con {
  position: relative;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #eee;
  /*background-image: url('/bg.jpg');*/
  justify-content: center;
  gap: 32px;
}

.prepare-card {
  position: relative;
  width: 100%;
  height: 30%;
  justify-content: space-around;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.prepare-card.bot {
  transform: translateX(100%);
}

.prepare-bantop {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0% 0%, 100% 0%, 100% 50%,
    80% 50%, 60% 100%, 0% 100%);
  background: #111;
  overflow: visible;
}
.prepare-banbot {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0% 50%, 20% 50%, 40% 0%,
    100% 0%, 100% 100%, 0% 100%);
  background: white;
}

.bantop-inner {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    2% 2%, 98% 2%, 98% 48%,
    78% 48%, 58% 98%, 2% 98%);
  background: red;
  background-image: url('/bg.jpg');
  display: flex;
  overflow: visible;
}
.banbot-inner {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    2% 52%, 22% 52%, 42% 2%,
    98% 2%, 98% 98%, 2% 98%);
  background: blue;
  background-image: url('/cover.webp');
}

.ban-img {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
}

.ban-img img {
  overflow: visible;
  position: relative;
  max-width: 35%;
  height: 100%;
  object-fit: cover;
}

.banbot-inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.card-stack {
  position: absolute;
  top: 0;
  right: 4px;
  display: flex;
  flex-direction: column;
  width: 38%;
  height: 100%;
}

.card-stack.left {
  left: 0;
}

.card-ban {
  position: relative;
  max-height: 33%;
  z-index: 6;
  font-size: 0.8em;
}